cmake-build-debug/
cmake-build-release/
build/
build-arm64/
build-web/
.idea/
.venv/
/tests/output/
__pycache__/
/rm_lines_sys/dist/
/rm_lines_sys/src/rm_lines_sys/librm_lines.so
/rm_lines_sys/src/rm_lines_sys/rm_lines.dll
/rm_lines_sys/src/rm_lines_sys/librm_lines.dylib
/tests/draw_output/
/tests/pos
/tests/copy_test_writer.sh
/tests/files/Test file copied.rm
/tests/graph.html
/tests/test_graph.py
/rm_lines_wasm_sys/rm_lines_wasm.*
/rm_lines/assets/fonts/reMarkable*
/tools/utf_bomb.txt
/tests/debug_overlays/Text styles*
/tools/text_info/
